@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
div > a {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* background-color: #888; */
    text-align: center;
    line-height: 80px;
    font-size: 2rem;
    transition: all 1s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 20px;
    position: relative;
    overflow: hidden;
}
/* div > a:hover {
    background-color: #00f;
    color: #eee;
} */
a:before {
    content: "";
    display: block;
    width: 0%;
    height: 150%;
    /* background-color: tomato; */
    position: absolute;
    top: 50%;
    /* bottom: 0; */
    left: 50%;
    transition: all 0.5s;
    /* 대각선 그라데이션 */
    /* transform: translate(-50%, -50%) scale(0); */
    transform: translate(-50%, -50%) rotate(45deg);
}
a>i{
    position: relative;
}
a:hover::before{
    /* height: 100; */
    width: 150%;
    /* transform: translate(-50%, -50%) scale(1); */
}
a:nth-child(1)::before{
    background-color: tomato;
}
a:nth-child(2)::before{
    background-color: #3B5999;
}
a:nth-child(3)::before{
    background-color: #55ACEE;
}
a:nth-child(4)::before{
    background-color: #E4405F;
}
a:nth-child(5)::before{
    background-color: #DD4B39;
}






